<h2>students:</h2>
<ul class="list-group">
    <li *ngFor = "let student of students" class="list-group-item"> 
        <div class="row">
            <div class="col-1">{{student.id}}</div>
            <div class="col-3">{{student.name}}</div>
            <div class="col-2">
                <button (click)="showDetails(student)">Show Details</button>
            </div>
            <div class="col-2">
                <button (click)="deleteStudent(student)">Delete Student</button>
            </div>

        </div>
         
     </li>
</ul> 

<br/>
<student-details [student]="selectedStudent"></student-details>

